node_modules
.env
frontend/node_modules
package-lock.json
package.json
backend/tsconfig.json
backend/src/index.js
backend/src/index.ts
backend/src/db/connection.js
backend/src/db/connection.ts
backend/src/middleware/upload.js
backend/src/middleware/upload.ts
backend/src/routes/listings.js
backend/src/routes/listings.ts
backend/src/routes/send.js
backend/src/routes/send.ts
backend/src/services/s3.js
backend/src/services/s3.ts
frontend/index.html
frontend/package-lock.json
frontend/package.json
frontend/tsconfig.json
frontend/tsconfig.node.json
frontend/vite.config.js
frontend/vite.config.ts
frontend/src/App.jsx
frontend/src/App.tsx
frontend/src/main.jsx
frontend/src/main.tsx
frontend/src/components/AddProductModal.jsx
frontend/src/components/AddProductModal.tsx
frontend/src/components/ConfirmModal.jsx
frontend/src/components/ConfirmModal.tsx
frontend/src/components/DetailsModal.jsx
frontend/src/components/DetailsModal.tsx
frontend/src/components/EditProductModal.jsx
frontend/src/components/EditProductModal.tsx
frontend/src/components/SendModal.jsx
frontend/src/components/SendModal.tsx
frontend/src/types/index.ts
